@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-device-width: 610px) and (min-device-width: 300px) {
    
    body {
        display: flex;
        background-image: url('shifaaz-shamoon-okVXy9tG3KY-unsplash.jpg');
        background-size: cover;
        flex-direction: column;
        color: wheat;
        overflow-x: hidden;
    }
    
    
    #banner {
        flex: 0;
        display: flex;
        gap: 5vw;
        font-family: 'Fasthand', 'Comic Sans MS';
        /* align-items: center; */
        font-size: 3em;

    }
    
    h1 {
        opacity: 1;
    }

    button {
        width: 40vw;
        height: 10vh;
        border-radius: 10px;
        border: none;
        font-size: 1em;
        align-self: center;
    }

    #form {
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    h3 {
        flex: 0;
        box-sizing: border-box;
        font-size: 2em;
    }
    
    #introduction {
        flex: 1;
        font-size: 3em;
        text-shadow: 1em 1em 1em beige;
    }

    img {
        max-width: 10vw;
        max-height: auto;
    }

    input {
        display: block;
        height: 8vh;
        width: 100%;
        opacity: 0.5;
        font-size: 2.8em;
        border-radius: 10px;
    }
    
    label {
        font-size: 2.8em;
    }

    .message {
        visibility: visible;
        font-size: 1.8em;
        color: black;
    }

    #photoCredits {
        bottom: 0;
        color: white;
    }

    .typeAgain {
        font-size: 0.9em;
        visibility: hidden;
    }

    #validation {
        padding-top: 8vh;
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 2em;
    }

    #validation span {
        margin-top: 3vh;
        margin-bottom: 2vh;
        font-size: 1.5em;
    }

    #right, #left {
        padding: 0 10vw 0 10vw;
    }

}


@media screen and (max-device-width: 1100px) and (min-device-width: 610px){
    html {
        overflow: hidden;
    }

    body {
        margin-top: 5vh;
        background: url('shifaaz-shamoon-okVXy9tG3KY-unsplash.jpg'), rgba(255, 255, 255, 0.3);
        background-repeat: no-repeat, no-repeat;
        background-size: 130%, 100%;
        /* background-size: 130%; */
        font-size: 1.3em;
        /* margin: auto; */
        color: black;
        overflow: hidden;
    }  
    
    #banner {
        display: flex;
        padding-left: 10vw;
        font-size: 2em;
    }

    #banner span {
        margin: 0;
        padding: 0;
        flex: 1;
    }

    #banner h1 {
        display: inline-block;
        margin: auto;
    }
    
    button {
        width: 20vw;
        height: 6vh;
        border-radius: 5px;
        border: none;
        font-size: 1.2em;
    }
    
    #form {
        padding-left: 10vw;
        gap: 10vh;
        display: flex;
        width: 100%;
    }
    
    img {
        width: 15vw;
        height: 15vh;
    }
    
    input {
        display: block;
        height: 3vh;
        width: 22vw;
        opacity: 0.6;
    }
    
    #introduction {
        font-family: 'Fasthand';
        font-size: 2em;
        padding : 2vh 10vw 2vh 10vw;
        color: black;
    }
    
    label {
        padding-bottom: 5vh;
        font-size: 1.5em;
        font-family: 'Quicksand';
    }
    
    .message {
        visibility: visible;
        font-size: 0.9em;
        color: red;
    }

    #photoCredits {
        position: absolute;
        bottom: 0px;
        color: white;
    }
    
    #right {
        flex: 0;
    }
    
    #right h3 {
        padding-left: 10vw;
        font-family: 'Quicksand';
        text-decoration: underline;
    }

    .typeAgain {
        font-size: 0.9em;
        visibility: hidden;
    }
 
    #validation {
        display: flex;
        flex-direction: column;
        padding-left: 10vw;
        padding-top: 5vh;
    }

    #validation span {
        padding-top: 3vh;
        font-size: 1.3em;
    }
    
}

@media screen and (min-width: 1100px) {
    html {
        overflow: hidden;
    }
    
    body {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    #banner {
        /* margin-top: 20vh; */
        background-color: rgb(255, 255, 255, 0.3);
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
        position: absolute;
        left: 0;
        width: 35vw;
        display: flex;  
        align-items: center;
    }

    #banner span {
        margin: 0;
        padding: 0;
        flex: 1;
    }

    button {
        width: 15vw;
        height: 6vh;
        border-radius: 8px;
        border: 2px solid;
        background-color: #002244;
        color: white;
        font-size: 1.1em;
        box-shadow: 0 2px 2px grey;
        font-weight: bold;
    }

    #form {
        display: flex;
        padding: 3vh 0 3vh 15vw;
        gap: 5vw;
        width: 100%;
        /* min-height: 40vh; */
        font-family: 'Quicksand';
        align-items: center;
    }
    
    h1 {
        font-family: 'Quicksand';
    }

    input {
        height: 3vh;
        width: 15vw;
        margin-top: 1vh;
        display: block;
        border-radius: 5px;
        border: solid 1px;
    }

    input:focus {
        transform: scale(1.03);
    }

    #introduction {
        font-family: 'Fasthand';
        font-size: 2em;
        background: linear-gradient(to left, rgb(185, 217, 235), white);
        padding: 5vh 15vw 5vh 15vw;
        width: 100%;
        box-sizing: border-box;
    }

    img {
        width: 15vw;
        height: 15vh;
    }

    #left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35vw;
        height: 100vh;
        background-image: url('shifaaz-shamoon-okVXy9tG3KY-unsplash.jpg');
        background-size: cover;
        text-align: center;
    }

    #photoCredits {
        background-color: rgb(255, 255, 255, 0.3);
        /* font-size: 1.1em; */
        position: absolute;
        bottom: 0;
        left: 0;
        width: inherit;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    #right {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 65vw;
    }

    #right h3 {
        padding-left: 15vw;
        font-family: 'Quicksand';
        text-decoration: underline;
    }


    .typeAgain {
        font-size: 0.9em;
        visibility: hidden;
    }

    .message {
        visibility: visible;
        font-size: 0.9em;
        color: red;
    }

    #validation {
        display: flex;
        flex-direction: column;
        padding: 5vh 0 5vh 5vw;
        background: linear-gradient(to left, rgb(185, 217, 235), white);
        width: 100%;
        padding: 5vh 15vw 100% 15vw;
    }

    #validation span {
        padding-top: 5vh;
        letter-spacing: 0.05em;
    }
    
}